.ticker {
    display: flex;
}

.currency {
    flex-grow: 1;
}

.currency-price {
    color: #2D4F79;
    font-size: 1.4em;
    display: block;
}

.currency-price.delta-less {
    color: red;
}

.currency-price.delta-more {
    color: green;
}

.charts-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.charts-container .highcharts-container {
    margin: 0 auto;
}

.charts-container .highcharts-container:first-child {
    margin-bottom: 12px;
}